@import url('../../styles/variable.css');

.project-container {
    margin: 0 72px;
    display: flex;
    flex-direction: column;
    animation: var(--animation);

    @media (max-width:750px) {
        margin: 0 20px;
    }

    .project-title {
        font-family: Poppins;
        letter-spacing: 0.7px;
        font-size: 18px;
        color: var(--text-theme);
        margin-bottom: 30px;
        line-height: 20px;

        @media (max-width:1150px) {
            text-align: center;
        }
    }

    .project-text-img {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        @media (max-width:1150px) {
            flex-direction: column-reverse;
        }

        @media (max-width:750px) {
            margin: 0 20px;
        }

        .project-text {
            line-height: 20px;
            font-size: 16px;
            margin: auto;
            color: var(--text-theme);
            width: 60%;

            @media (max-width:1150px) {
                width: 90%;
            }
        }

        .project-img-link {
            display: flex;
            flex-direction: column;
            align-items: center;

            .project-link {
                margin-top: 10px;
                display: flex;
                justify-content: space-around;
                gap: 30px;
                & a{
                    &:active{
                        @media (min-width:750px) {
                            transform: scale(0.96);
                            transition: all 0.1s;
                        }
                    }
                }
            }

            .project-img {
                & img {
                    border-radius: 8px;
                    width: 350px;
                    height: 200px;
                    object-fit: cover;
                }
            }
        }
    }

    .project-card {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        margin-bottom: 10px;
        text-align: center;

        @media (max-width:750px) {
            grid-template-columns: 1fr;
            place-items: center;
            gap:20px;
        }
    }
}