.project-container {
    margin: 0 72px;
    display: flex;
    flex-direction: column;

    .project-title {
        font-family: Poppins;
        letter-spacing: 0.7px;
        font-size: 18px;
        color: var(--text-theme);
        margin-bottom: 30px;
    }

    .project-text-img {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        .project-text {
            line-height: 20px;
            font-size: 16px;
            margin: auto;
            color: var(--text-theme);
            width: 60%;
        }

        .project-img-link {
            display: flex;
            flex-direction: column;
            align-items: center;

            .project-link {
                margin-top: 10px;
                display: flex;
                justify-content: space-around;
                gap: 30px;
            }
            .project-img{
                & img {
                    border-radius: 8px;
                    width: 350px;
                    height: 200px;
                    object-fit: cover;
                }
            }
        }
    }

  

    .project-card {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:50px;
    }
}