@import url('../../styles/variable.css');

.menu-container {
    width: fit-content;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 0px rgba(var(--box-shadow));
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
    padding: 10px;
    .link-menu{
        text-decoration: none;
        color: inherit;
    }
    @media (max-width:750px) {
        gap:40px;
    }
    @media (max-width:500px) {
        gap:20px;
    }
}