@import url('../../styles/variable.css');

.menu-container {
    width: fit-content;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 0px rgba(var(--box-shadow));
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
    padding: 10px;
    position: sticky;
    .link-menu{
        text-decoration: none;
        color: inherit;
    }
    @media (max-width:750px) {
        gap:40px;
    }
    @media (max-width:500px) {
        position: fixed;
        bottom: 0;
        z-index: 2;
        width: 100%;
        background-color: var(--bg-comp-theme);
        box-shadow: none;
        gap:0px;
        .link-menu{
            transition: none;
        }
    }
}