@import url('../../styles/variable.css');

.container-hero {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    position: relative;

    @media (max-width:1050px) {
        width: 70%;
        margin: auto;
        margin-top: 40px;
        min-width: 350px;
    }

    .portrait {
        position: absolute;
        width: 200px;
        height: 200px;
        left: 90px;
        border-radius: 20px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);

        @media (max-width:1050px) {
            top: 13%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        & img {
            width: inherit;
            height: inherit;
            image-rendering: optimizeSpeed;
            border-radius: 20px;
        }
    }

    .info-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        background: var(--bg-comp-theme);
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
        margin-top: 110px;
        padding-top: 90px;
        padding-bottom: 93px;
        @media (max-width:1050px) {
            padding-bottom: 50px;
        }
        @media (max-width:500px) {
            padding-bottom: 40px;
            margin-bottom: 50px;
        }

        .me-name {
            color: var(--text-theme);
            font-family: Raleway;
            font-size: 28.42px;
            font-style: normal;
            font-weight: 700;
            line-height: 35px;
            margin-top: 14px;
        }

        .work-title {
            color: var(--text-work-title-theme);
            font-family: Raleway;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 40px;
        }

        .info-link {
            display: flex;
            gap: 5px;
            margin-left: 50px;
            margin-right: 50px;
        }

        .container-information {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 20px;
            background: var(--bg-theme);
            width: 90%;
            margin-top: 30px;
            max-width: 350px;

            .btn-dl {
                margin-top: 20px;
                margin-bottom: 30px;
                display: inline-flex;
                padding: 10px 20px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 20px;
                color: #F2F7FC;
                background: var(--gradient);
                &:hover{
                    cursor: pointer;
                    @media (max-width:750px) {
                        transform: scale(0.96);
                    }
                }
                &:active{
                    @media (min-width:750px) {
                        transform: scale(0.96);
                        transition: all 0.1s;
                    }
                }
                p {
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }

        .information {
            display: flex;
            flex-direction: column;
        }
    }
}
