[data-theme='dark']{
  --bg-theme: #0f1c28;
  --bg-comp-theme: #000000;
  --text-theme: #fff;
  --text-work-title-theme: rgba(233, 211, 211, 0.5);
  --icon-theme: #8e949b;
  --info-theme: rgb(179, 163, 163);
  --card-theme: #E8050550;
  --card-theme-snd: #FF9C1A50;
  --box-shadow:252, 8, 8;
}

[data-theme='light'] {
  --bg-theme: #F2F5F9;
  --bg-comp-theme: #FFF;
  --text-theme: #000;
  --text-work-title-theme: rgba(11, 9, 9, 0.50);
  --icon-theme: #E1E8EF;
  --info-theme: rgba(26, 16, 3, 0.50);
  --card-theme: #FFEBD1;
  --card-theme-snd: #F2F7FC;
  --box-shadow:0, 0, 0, 0.25;
}

@media (prefers-color-scheme: light) {
:root {
    --bg-theme: #F2F5F9;
    --bg-comp-theme: #FFF;
    --text-theme: #000;
    --text-work-title-theme: rgba(11, 9, 9, 0.50);
    --icon-theme: #E1E8EF;
    --info-theme: rgba(26, 16, 3, 0.50);
    --card-theme: #FFEBD1;
    --card-theme-snd: #F2F7FC;
    --box-shadow:0, 0, 0, 0.25;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-theme: #0f1c28;
    --bg-comp-theme: #000000;
    --text-theme: #fff;
    --text-work-title-theme: rgba(233, 211, 211, 0.5);
    --icon-theme: #8e949b;
    --info-theme: rgb(179, 163, 163);
    --card-theme: #E8050550;
    --card-theme-snd: #FF9C1A50;
    --box-shadow:0, 0, 0, 0.25;
  }
}