@import url('../../styles/variable.css');

.title-separator {
    display: flex;

    .section-title {
        color: var(--text-theme);
        font-size: 40px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        margin: 28px 72px;
        letter-spacing: 1px;
        @media (max-width:750px) {
            margin: 28px auto;
            font-size: 28px;
        }
    }

    .separator {
        width: 350px;
        height: 2px;
        color: red;
        background: var(--gradient);
        margin: auto 0px;
        @media (max-width:750px) {
            display: none;
        }
    }
}