.title-separator {
    display: flex;

    .section-title {
        color: #0b0909;
        font-size: 40px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        margin: 28px 72px;
        letter-spacing: 1px;
    }

    .separator {
        width: 350px;
        height: 2px;
        color: red;
        background: linear-gradient(#FE9119, #ED250A);
        margin: auto 0px;
    }
}