@import url('../../styles/variable.css');


[data-theme] {
    background-color: var(--bg-theme);
    transition: all 0.8s;
}

.fullweb {
    margin: 0 auto;
    max-width: 1440px;
}

.container-main {
    padding-bottom: 50px;
    display: flex;
    margin-right:10px;
    margin-left:10px;
    @media (max-width:1050px) {
       flex-direction: column-reverse;
    }

    .menu-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        @media (max-width:1050px) {
            align-items: center;
        }
    }
}
