@import url('../../styles/variable.css');

.body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--bg-theme);
    padding: 20px 40px;
}

.container-main {
    margin-bottom: 50px;
    display: flex;

    .menu-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
    }
}