@import url('../../styles/variable.css');

.mecard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: var(--card-theme);
    max-width: 440px;
    min-height: 150px;
    height: fit-content;

    &:nth-of-type(2) {
        background-color: var(--card-theme-snd);
    }

    &:nth-of-type(3) {
        background-color: var(--card-theme-snd);
    }
    @media (max-width:750px) {
        &:nth-child(3){
            order:4
        }
    }


    .mecard-title {
        color: var(--text-theme);
        font-family: Poppins;
        font-size: 24px;
        font-weight: 600;
        margin-top: 10px;
        @media (max-width:750px) {
            font-size: 20px;
        }
    }

    .mecard-text {
        text-align: center;
        margin: 5px 25px 15px 25px;
        letter-spacing: 0.5px;
        color: var(--text-theme);
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        @media (max-width:750px) {
            font-size: 12px;
        }
    }
}