.container-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    .title-card{
        font-size: 25px;
        font-weight: bold;
    }
    .container-info{
        display: flex;
    }
}