@import url('../../styles/variable.css');

.navigation-bar {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;

    .logo {
        font-family: 'Lato', sans-serif;
        font-size: 30px;
        margin-left: 60px;
        color:var(--text-theme);
    }

    .btn-lang-dark {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-right:50px;

        .dark-light {
            display: flex;
            width: 56px;
            height: 56px;
            padding: 4px;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            border-radius: 50px;
            background:var(--icon-theme);
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
            &:hover{
                cursor: pointer;
            }
        }
    }
}