@import url('../../styles/variable.css');

.btnlink {
    width: 65px;
    height: 60px;
    border-radius: 8.25px;
    background: var(--icon-theme);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        cursor: pointer;
        opacity: 0.5;
    }
}
