.recard-container {
    border-radius: 9.246px;
    background: #FFE3BF;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .xp-date {
        color: rgba(26, 16, 3, 0.50);
        font-size: 14px;
        font-weight: 400;
        margin-top:15px;
    }

    .xp-title {
        color: #000;
        font-size: 14px;
        font-weight: 600;
    }

    .xp-desc {
        color: #000;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 15px;
    }
}